
.linear-dropdown ul {
  margin: 0 auto;
  width: 620px;
}
.linear-dropdown ul li {
  list-style: none;
  float: left;
  margin-right: 10px;
  position: relative;
}
.linear-dropdown ul li a {
  font: 700 15px Open Sans;
  text-transform: uppercase;
  position: relative;
  color: #333;
  text-decoration: none;
  border: 3px solid #000;
  letter-spacing: 1px;
  padding: 10px 15px 10px 25px;
  display: block;
  width: 150px;
  z-index: 5000;
}
.linear-dropdown ul li a i {
  font-size: 12px !important;
  position: absolute;
  right: 10px;
  top: 14px;
}
.linear-dropdown ul li .drop-down {
  position: absolute;
  padding: 0;
  display: none;
  margin: 0;
  left: 0;
  z-index: 0;
}
.linear-dropdown ul li .drop-down li {
  position: relative;
  float: none;
}
.linear-dropdown ul li .drop-down li a {
  border-top: none;
  width: 150px;
}
.linear-dropdown ul li .drop-down li a:hover {
  background: #000;
  color: #FFF;
}
.linear-dropdown ul li .drop-down li:nth-of-type(1) a {
  border-top: none;
}

.accent {
  width: 0%;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.animate {
  width: 100%;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  transition: 0.3s ease;
}

.item:hover {
  color: #FFF;
}
