/* ==========================================================================
    Custom styles
   ========================================================================== */

@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "GothamBook";
    font-weight: 400;
    src: url("fonts/GothamBook.woff");
}

@font-face {
    font-family: "GothamMedium";
    font-weight: 400;
    src: url("fonts/gotham-medium.ttf");
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

.linear-body {
    background: url('../../img/linear-bg.svg');
    background-size: cover;
}

.navbar {
    background: transparent;
    border: none;
    box-shadow: none;
}

.navbar .container-fluid {
    padding: 3% 7%;
}

.navbar .navbar-brand {
    border-bottom: 1px solid #eaedef;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    /* opacity: 0.1; */
    padding-left: 0;
    padding-right: 0;
}

footer {
    margin-top: 50px !important;
}

h2,
h3,
header {
    color: #6a6f74;
    /*font-family: "GothamMedium";*/
    margin-bottom: 15px;
    margin-top: 15px;
}

.bootstrap-select.form-control {
    border: none;
    border-radius: 1px;
    box-shadow: none;
    border-bottom: 1px solid #73899c;
    padding-left: 35px
}


/*h3 {
    color: #73899c;
}*/

.heading {
    margin-left: 17px;
    font-family: San Francisco;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #6a6f74;
}

.form-heading {
    font-family: San Francisco;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #d1d6d9;
    margin-bottom: 90px;
}

#message {
    display: inline;
    color: green;
    float: right;
    margin-top: 16px;
    margin-right: 18px;
}

#btn_download {
    margin-top: 15px;
    background-color: #009cdb;
    box-shadow: 0 8px 15px 0 rgba(0, 156, 219, 0.09);
    border: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    width: 40%;
    cursor: pointer;
    background-image: none;
    min-height: 45px;
}

#btn_email {
    background-color: #009cdb;
    box-shadow: 0 8px 15px 0 rgba(0, 156, 219, 0.09);
    border: none;
    background-image: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: bold;
    width: 30%;
    bottom: 9px;
    position: relative;
}

.logo {
    margin-top: 10px;
}

input {
    margin-bottom: 5px;
}

.help-block {
    margin-top: 10px;
}

textarea {
    height: auto !important;
    min-height: 250px !important;
}

.form-control-feedback {
    top: 0;
    margin-top: 5px;
    right: -30px;
}

.dropdown-menu.open {
    margin-top: 6px;
}

.btn.dropdown-toggle {
    min-height: 40px;
    letter-spacing: 1px;
    border-top: none;
    border-radius: 0;
    bottom: 5px;
    text-shadow: none;
    background: transparent;
    box-shadow: none;
    border: none;
    border-color: transparent;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none;
    outline: none !important;
    border: none;
    outline-offset: -2px;
}

.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.calendar-icon {
    position: relative;
    left: 23px;
    z-index: 1;
    bottom: 5px;
}

.flex {
    display: flex;
}

.form-group .flex {
    right: 25px;
    margin: 0;
    padding: 0;
}

.open>.dropdown-toggle.btn-default {
    color: #333;
    /* background-color: #e6e6e6; */
    /* border-color: #adadad; */
    border: none;
    background: transparent;
    box-shadow: none;
    bottom: 5px;
}

.width-100 {
    width: 100%;
}

#email {
    margin-right: 15px;
    min-height: 45px;
    letter-spacing: 1px;
    border-top: none;
    border-radius: 0;
    bottom: 5px;
    text-shadow: none;
    background: transparent;
    box-shadow: none;
    border: none;
    border-color: transparent;
    border-bottom: 1px solid #73899c;
    opacity: 0.4;
    padding-left: 40px;
    position: relative;
}

.email-block {
    padding-left: 0;
    padding-right: 7px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.padzero {
    padding: 0 !important;
}

.email-text {
    letter-spacing: 0.5px;
    color: #afb1b3;
    font-size: 15px;
    font-family: "San Francisco";
    margin-bottom: 15px;
}

.download-text {
    letter-spacing: 0.5px;
    color: #afb1b3;
    font-size: 15px;
    font-family: "San Francisco";
    margin-bottom: 15px;
}

.email-icon {
    left: 25px;
    position: relative;
    bottom: 10px;
}

.help-block {
    margin-left: 25px;
    display: inline-block;
}

footer .navbar {
    background: transparent;
    box-shadow: none;
}

.footer-logo {
    margin-bottom: 25px !important;
}
